{% extends "main.html" %}
{% block title %} Events {% endblock %}
{% block content %}
<table>
{% for event in events%}
<p><b>{{ event.id }}.{{ event.title }}</b></p>
<p>Description: {{ event.description }}</p>
<p>Location: {{ event.location }}</p>
<p>From: {{ event.startDateTime }}</p>
<p>To: {{ event.endDateTime }}</p>
<a href="/event/{{ event.id }}/like/">Like</a>
&nbsp;
<a href="/event/{{ event.id }}/comment/">Comment</a>
&nbsp;
<a href="/event/{{ event.id }}/participate/">Participate</a>
{% endfor %}
</table>

<div class="pagination">
	<span class="step-links">
		{% if events.has_previous %}
		<a href="?page={{ events.previous_page_number }}">Previous</a>
		{% endif %}

		<span class="current">
			Page {{ events.number }} of {{ events.paginator.num_pages }}.
		</span>

		{% if events.has_next %}
		<a href="?page={{ events.next_page_number }}">Next</a>
		{% endif %}
	</span>
</div>

{% endblock %}
