<html>
  <style type="text/css">
body {color: #efd; background: #453; padding: 0em; margin: 0 }
h1 { padding: 2em 1em; background: #675 }
h2 { color: #bf8; border-top: 1px dotted #fff; margin-top: 2em }
p { margin: 1em 0 }
</style>
<body>
  {% block title %}
  {% endblock %}
  {% block content %}
  {% endblock %}

  <p><a href="/event/all/?page=1">Events</a></p>
  <p><a href="/form/search/">Search</a></p>
  <p><a href="/user/">User</a></p>
  <p><a href="/auth/logout/">Logout</a></p>
  {% block test %}
  <b>{{text}}</b>
  {%endblock%}
</body>
</html>
